*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'ABeeZee', sans-serif;
    font-family: 'Concert One', cursive;
    font-family: 'Fredoka One', cursive;
    font-family: 'Mukta', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Patrick Hand', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

/*inizio style button*/
button{
    background-color: #0061fe;
    color: white;
    padding: 10px 15px;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
}

.button1{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.button2{
    border: white 1px solid;
    background-color: white;
    color: black;
    padding: 10px 40px; 
}

button:hover{
    opacity: 0.7;
}
/*fine style button*/


/*inizio header*/
h1{
    font-size: 100px;
}

h2{
    font-size: 60px;
    margin: 30px 0;
}

p{
    font-size: 20px;
    margin-bottom: 20px;
}


header .header-top{
    height: 80px;
    width: 100%;
    background-color: white;
    box-shadow: 5px 3px #0061ff;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top .right, .left, .right ul, .left ul{
    display: flex;
    align-items: center;
}

.right, .left{
    padding: 10px;
}

.right ul li:hover{
    border-bottom: 3px solid #0061ff;
}

.left ul li:hover{
    border-bottom: 3px solid #0061ff;
}

header .header-top ul li{
    list-style: none;
    margin: 0px 15px;
}

header .header-top li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}



header .header-bot{
    height: 800px;
    margin-top: 80px;
}

.header-bot .color{
    height: 90%;
    background-color: #b4d0e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.jumbo-top{
    width: 60%;
    height: 200px;
}

.jumbo-bot{
    width: 60%;
    height: 200px;
    display: flex;
}

.jumbo-right{
    width: 70%; 
    height: 450px;
    
}

.jumbo-right img{
    width: 100%;
}

.jumbo-left{
    width: 30%;
    height: 200px;
}

.jumbo-left .arrow-down{
    position: absolute;
    bottom: 0;
    font-size: 60px;
}
/*fine header*/

/*inizio main*/
.style-radio{
    display: inline-block;
    border: 3px solid lightgrey;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.border{
    border: 5px solid blue;
}

main{
    width: 100%;
}

main .container-main{
    width: 50%;
    margin: 100px auto;
}

.container-main .container-col{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-main .col{
    border: lightgrey 1px solid;
    height: 950px;
    width: 30%;
    margin: 40px 0px;
    display: flex;
    flex-direction: column; 
}

.row-1{
    height: 5%;
    border-bottom: lightgrey 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 40px;
}

.col .container-in{
    width: 80%;
    margin: 10px auto;
    font-size: 20px;
}

.container-in .container-dati{
    height: 350px;
}

.col ul li{
    list-style: none;
    margin: 30px 0;
}

.col ul li i{
    margin-right: 10px;
}

i.fa-solid.fa-check {
    color: #0061ff;
}

hr{
    margin: 30px 0;
}

.container-main .team{
    border: lightgrey 1px solid;
    height: 250px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.row-height{
    height: 15%;
}

.row-2{
    display: flex;
    justify-content: space-around;
}

.content h3{
    font-size: 50px;
}

.content h4, .content span{
    font-size: 20px;
    margin: 20px 0;
}
/*fine primo blocco*/

/*inizio secondo blocco*/
.container-main .contatto{
    display: flex;
    justify-content: space-between;
    height: 500px;
    margin: 150px 0;
}

.foto-right img{
    height: 100%;
}

.contatto .scritta-left{
    width: 30%;
}

.scritta-left p{
    margin: 30px 0;
}

.scritta-left h3{
    font-size: 40px;
}
/*fine secondo blocco*/

/*inizio terzo blocco*/
.operazioni{
    margin: 200px 0;
    display: flex;
    flex-direction: column;
 
}

.operazioni .row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.operazioni .row .column{
    width: 30% ; 
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.operazioni .top img{
    width: 100%;
}

.column .top, .column .bot{
    height: 100%;
    width: 100%;
}

.column:hover{
    transform: scale(1.2);
}
/*fine terzo blocco*/


/*inizio quarto blocco*/

.row-square-top{
    display: flex; 
}

.row-square-top .column-square, .row-square-top .column-square-big{
    height: calc( 100vw / 3 );
    width: calc( 100% / 3 );
}

.row-square-top .column-square-big{
    background-color: #f5f5f5;
    padding: 50px;
    overflow: auto;
}

.column-square-big p{
    margin: 70px 0;
}

.row-square-top .column-square{
    display: flex;
    flex-wrap: wrap;
}

.column-square .square{
    height: 50%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.square:hover{
    border: 10px solid rgba( 0, 0, 0, 0.3);
}

.square:active{
    transform: scale(0.9);
}

.square img{
    width: 60%;
}

.s-green{
    background-color: #a2d39b;
}

.s-bord{
    background-color: #61082b;
}

.s-blue{
    background-color: #0093ce;
}

.s-red{
    background-color: #ff1c1c;
}

.s-sred{
    background-color: #d5001f;
}

.s-celeste{
    background-color: #b4d0e7;
}

.s-blu{
    background-color: #a2d39b;
}

.s-yellow{
    background-color: #ffd830;
}

.row-square-bot{
    background-color: #b4d0e7;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.row-square-bot .square-bot{
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.square-bot h2{
    color: #61082b;
}
/*fine quarto blocco*/

/*inizio quinto blocco*/
.domande-frequenti{
    width: 50%;
    margin: 100px auto;
    position: relative;
}

.domande-frequenti h3{
    display: inline-block;
    font-size: 20px;
}

.domande-frequenti i{
    position: absolute;
    right: 5%;
}

.domande-frequenti h3:hover{
    margin-bottom: 50px;
}
/*fine quinto blocco*/

/*fine main*/

/*inizio footer*/

footer{
    height: 500px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;

}

.footer-top{
    width: 70%;
    height: 80%;
    margin: 50px auto;
    display: flex;
}

.footer-top .col-footer{
    width: calc( 100% / 5 ) ;
}

.col-footer ul li{
    list-style: none;
    margin: 10px 0;
}

.col-footer ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.col-footer h3{
    font-size: 40px;
    margin-bottom: 40px;
}

.footer-bot{
    width: 70%;
    height: 20%;
    margin: auto;
    display: flex;
}

.footer-bot span{
    border-top: 1px solid white;
    font-size: 25px;
    color: lightgrey;
    padding: 10px;
}

.footer-bot i{
    font-size: 15px;
    color: lightgrey;
    padding: 10px;
}
/*fine footer*/